footer{
    background-color: var(--color-primary);
    width: 100%;
    
   
    .footer-content{
      margin: 0 auto;
      display: flex;
      max-width: 960px;
      justify-content: space-between;
      align-items: center;
      
      
      p.copy1{
        color: whitesmoke;
        font-size: .9rem;
        text-align: center;
      }

      p.copy2{
        color: var(--color-dark-text);
        font-size: .9rem;
        font-weight: bold;
        text-align: center;
      }
  
    }
  }