footer{
    
    background-color: var(--color-primary);
    margin: 0 auto;
    margin-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr minmax(0, 1300px) 1fr;
    
    grid-template-areas: " .  footer-content  . ";
    
    background-color: var(--color-primary);
  
    .footer-content{
      grid-area: footer-content;
     
      p{
        color: whitesmoke;
        font-size: .65rem;
        text-align: center;

      }
  
    }
  }