
section#home{
    padding-block: 0;
    justify-self: center;
    max-width: 960px;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem; 
}


h1{
    color: #fff;
    font-family: 'Merienda', cursive;
    font-size: clamp(.5rem, 7vw, 3rem);
    // line-height: clamp(.25rem, 5vh, 3rem);
    text-shadow: 3.709px 1.498px 0px rgba(0, 0, 0, 0.5); 
    text-align: center;      
  }


//   ////////////////////////////////////////////////////
//   @media screen and (max-width: 731px) {

//       section#home{

//         h1{
//             line-height: clamp(.25rem, 3vh, 3rem);     
//           }

//       }
//   }


  ////////////////////////////////////////////////////
//   @media screen and (max-width: 465px) {

//       section#home{

//         h1{
//             line-height: clamp(.25rem, 3vh, 2rem);     
//           }

//       }
//   }
