
nav{
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 1rem;   
}


ul.links{
    display: grid;
    grid-auto-flow: column;
    gap: 1px;
    
    .link a{
        display: block;
        text-align: center;
        color: white;
        font-size: 1rem;
        font-weight: 600;
        padding: 0 1rem;
        border-radius: 15px;
        transition: all .35s ease-in-out;
        
        &:hover{
            background-color: var(--color-link-over);
        }
    }
}

.icons{
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    
    img{
        display: block;
        border: 1px solid white;
        padding: .25rem;
        border-radius: 50%;
        cursor: pointer;
        transition: all .35s ease-in-out;
        &:hover{
            background-color: var(--color-dark-text);
        }
    }
}


.burger{
    width: 30px;
    span{
      width:30px;
      height: 3px;
      background: white;
      display: block;
      &:not(:last-child){
        margin-bottom: 5px;
      }
    }
    display: none;
  }

//////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 1152px){
    .icons{
        display: none;
    }
    nav{
        grid-template-columns: auto 1fr;
        justify-items: end;
    }      
}



//////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 1032px){

    nav{
        grid-template-columns: auto;
        justify-items: center;
    } 

    .logo{
        width: 100px;
    }  

    .link a{
        font-size: .2rem;
        font-weight: 300;
        
    }
    .site-wrapper{
        grid-gap: 0 !important;
    }
}



//////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 830px){

    nav{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
        "logo burger"
        "links links";
        overflow: hidden;
    }
    
    nav .links{   
        grid-area: links;
        
        grid-auto-flow: row;
        gap: .5rem; 
        height: 0;
        transform: translateY(100%);
        transition: all .35s ease-in-out; 
        width: 100%; 
        background-color: var(--color-primary);

        .link a{
            padding: .5rem 2rem;
            border-radius: 0;
        }
    }

    nav .links.show{   
        height: 100%;
        transform: translateY(0%);
    }
    
    .logo{
        grid-area: logo;

        justify-self: start;
        img{
            min-width: 80px;
        }
    }
    
    .burger{
        display: block !important;
        grid-area: burger; 
        cursor: pointer;
        justify-self: end;
        transition: all .5s ease;
        transform-origin: center;
    }
    
    .burger.close{
        transform: rotate(-180deg);  
    }

    
}