section#tour-package{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    align-items: center;
    justify-items: center;
    gap: 2rem;
    justify-content: center;
}


.card{
    display: grid;
    grid-template-rows: repeat(3,auto);
    justify-items: center;
    row-gap: 1rem;

    font-family: 'Oswald', sans-serif;
    
    .card-image img{
      display: block;
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
    .card-images{
      position: relative;

      &::before{
        content: "";
        position: absolute;
        left: -18px;
        bottom: -18px;
        width: 100%;
        height: 100%;
        background-color: var(--color-primary);
        clip-path: polygon(0 50%, 0% 100%, 50% 100%);
      }
      .image-tag{
        position: absolute;
        color: white;
        left: 0;
        bottom: 0;
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;      

        .tag1{
          font-weight: 500;
          font-size: 2rem;
        }
        .tag2{
          font-weight: 500;
          font-size: 4rem;
          margin-left: 18px;
          letter-spacing: -4px;
        }
        .tag3{
          margin-top: -18px;
          font-weight: 200;
          font-size: 1.1rem;
        }
       
      }
      
    }

    .card-content, .card-btn{
        max-width: 400px;
    }

    .card-content {
      padding-right: 1rem;
      h3{
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        color: var(--color-dark-text);
        letter-spacing: -1px;
      }

      p{
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.5);
        font-family: 'Montserrat', sans-serif; 
        font-weight: 600;
      }
    }

    .card-btn{
        justify-self: start;
    }
    
    button{
      border: none;
      border-radius: 25px;
      width: 135px;
      height: 35px;
      color: white;
      background-color: var(--color-primary);
      font-size: 1rem;
      line-height: 2;
      font-weight: 700;
      cursor: pointer;
      border: 2px solid var(--color-primary);
      transition: all .25s ease-in-out;
      &:hover, &:active, &:focus{
          background-color: white;
          color: var(--color-dark-text);
      }
    }
    
  }
